/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: white;
   --cor-de-link: black;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu{
display: flex;
justify-content: space-between;
align-items: center;
gap: 15px;
padding: 16px 8px;
background-color: #B2B8A3;
color: black;
border-top: solid 10px;
border-left: solid 10px;
border-right: solid 10px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-color: black;
}

.menu__header{
    font-size: 21px;
    display: inline-flex;
    gap: 5px;
    align-items: center;
}

.menu__img{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    padding: 0px 10px ;
    
}

.menu__title{
    font-size: 21px;
}

.menu__list{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    font-weight: bold;
}

.menu__list__item:hover{
    transition: 0.3s;
    transform: scale(1.2);
    cursor: pointer;
}


/*Sección Title*/

section.title{
background-color: #B2B8A3;
color: black;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}

div.title__div{
    display: flex;
    border-left: solid 10px;
    border-right: solid 10px;
    border-bottom: solid 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: black;
    padding: 0px 0px 0px 15px; 
}

.title__bio{
    font-size: 18px;
}

.title__subsection{
    font-size: 16px;
    line-height: 150%;
}

.title__network{
    display: flex;
    justify-content: center;
}

.title__network__item{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.title__profile{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid transparent;
    box-shadow: #f19611 6px 0px 0px 10px;
    margin: 0px 30px 0px 5px;
}


/*Sección About*/

section.about{
    display: flex;
    padding: 32px;
    background-color: #000;
    border-radius: 15px;
    margin-top: 10px;
}

.about__title{
    font-size: 21px;
    font-weight: bold;
}

.about__container{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #B2B8A3;
    border-radius: 15px;
    border: solid 10px;
    
}

.about__paragraph{
    text-indent: 45px;
}


/*Seccion Soft Skills*/
section.soft-skills{
    display: flex;
    flex-direction: column;
    padding: 32px;

}

.soft-skills__title{
    text-align: center;
    font-size:  21px;
    font-weight: bold;
}

.soft-skills__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    padding: 30px;    
}

.soft-skills__box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    background-color: white;
    height: 60px;
    width: 250px;
    box-shadow: 0 8px 8px #fcb345;
}

.soft-skills__name{
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;  
}

/*Sección skills y Hobbies*/

section.skills{
    display: flex;
    flex-direction: column;
}
.skills__title{
    padding: 20px;
    text-align: center;
    font-size: 21px;
}

.skills__line{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-bottom: 30px;
}
.skills__box{
    border-style: none;
    border-width: 1px;
    background-color: white;
    padding:15px;
    width: 8%;
    box-shadow: 0 8px 8px #fcb345;
}

.skills__box__ul{
    padding-left: 20px;
}

.skills__name{
    text-align: start;
    padding-top: 10px;
    font-weight: bold;
}

section.hobbies{
    display: flex;
    flex-direction: column; 
}
.hobbies__title{
    text-align: center;
    padding: 20px;
}
.hobbies__line{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-bottom: 30px;
}
.hobbies__box{
    text-align: center;
    border-style: none;
    border-width: 1px;
    background-color:white;
    padding: 15px;
    width: 8%;
    box-shadow: 0 8px 8px #fcb345;
}

.hobbies__box__ul{
    padding-left: 5px;
}

.hobbies__name{
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

/* Experiencia Académica*/

section.academic{
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color:#B2B8A3;
    margin: 5px 0 5px 0;
    border: solid 10px;
    border-color: #fcb345;
    border-radius: 15px;
}
.academic__title{
    text-align: center;
    padding: 20px;
    font-size: 21px;
    font-weight: bold;
}
.academic__courses{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.academic__courses__box{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.academic__courses__list{
    width: 100%;
}

.academic__courses__item__img{
      height: 165px; 
}
.academic__courses__item__title{
    margin:5px 0 5px 0;
}


/* experiencia*/

.experience__section__title{
    font-size: 30px;
    text-align: center;
    padding: 15px 0px;
}

div.experience__box{
    display: flex;
}

.experience__img{
    width: 60%;
    height: auto;
    border: solid 3px #000;
    border-radius: 15px;
    margin-left: 10px;
}

.experience__info-container{
    display: flex;
    margin-left: 20px;
    flex-flow: column wrap;
    justify-content: center;
    margin-bottom: 10px;
}


button.experiencia__botao--repo{
    background-color: #fcb345;
    border: solid 2px #000;
    font-size: 15px;
    padding: 15px;
    border-radius: 20px;
    font-weight: bold;
}

button.experiencia__botao--repo:hover{
    background-color: white;
    border: solid 2px #000;
}

button.experience__botao--demo{
    background-color: black;
    border: solid 2px #fcb345;
    font-size: 15px;
    padding: 15px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
}

button.experience__botao--demo:hover{
    background-color: #fcb345;
    border: solid 2px #000;
}

/*Contacto*/

section.formcontato{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin : 20px 10px 10px 10px;
    background: #fcb345;
    border-radius: 30px;
}

div.formcontato__text{
    display: flex;
    flex-direction: column;
}


.formcontato__form{
    display: flex;
    flex-direction: column;
}

.formcontato__input{
    height: 20px;
    background-color: #000;
    border-radius: 10px;
    margin-top: 10px;
}

.formcontato__textarea{
    background-color: #000;
    border-radius: 10px;
    margin-top: 10px;
}

input::placeholder{
    color: white;
}

textarea::placeholder{
    color: white;
}

.errorMensaje{
    color: white;
}
button.formcontato__botao{
    background-color: #fff;
    border: solid 2px #000;
    width: 200px;
    height: auto;
    font-size: 15px;
    padding: 15px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: black;
}

button.formcontato__botao:hover{
    background-color: #000;
    border: solid 2px #fff;
    color: #EAEEEF;
}

/*footeer*/

section.footer{
    text-align: center;
    font-size:18px;
    background-color:#000;
    color: white;
    padding: 20px;
    height: 70px;
 } 
 
 .link_footer{
    color: #fcb345;
 }

 .link_footer:hover{
    color: blue;
 }
/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

/*Tablet*/
@media (max-width: 1024px) {

    /* Menú */
    .menu__title{
        font-size: 16px;
    }
    
    .menu__list__item{
        width: 78px;
        font-size: 12px;
        
    }
        
    /*Skill*/

    .skills__box{
        padding-right: 45px;
    }

    .hobbies__box{
        padding-right: 25px;
    }

   
    
    /*contacto*/
    .formcontato__img{
        width: 250px;
        margin-left: 15px;
    }
    
    }
    

    /*Mobile*/


    @media (max-width: 768px) {
    
 

        /* Menú */

        section.menu{
            display: flex;
            flex-direction: column;
        }
        .menu__title{
            font-size: 16px;
        }
        
        .menu__list{
            flex-direction: row; 
            flex-wrap: wrap;
            padding: 0px 15px;
            justify-content: center;
            font-size: 16px;
        }

        .menu__list__item{
            border: solid 1px;
            text-align: center;
            padding: 5px 0px;
            border-radius: 15px;
            background-color: #fcb345;
        }

        
        /*Titulo*/

        .title__div{
            margin-top: -1px;
        }
        
             
        h2.title__bio, h3.title__subsection{
            font-size: 14px;
        }
        
        .title__profile{
            width: 100px;
            height: 100px;
            margin-top: 45px;
        }
        
        div.title__network{
            display: flex;
            flex-wrap: wrap;
            justify-content: right;        
        }

        .title__network__item{
            font-size: 12px;
            font-weight: bold;
            
        }
        
        /*Sección sobre mi*/
        
        section.about{
            padding: 1px;
            line-height: 1.5;
        }
        
        /*Skills*/
       
        .skills__box{
            padding-right: 80px;
        }

        /*Hobbies*/
      
        .hobbies__box {
            padding-right: 55px;
        }
        
      
        /*Formación Académica*/
        
       
        /*Experiencia Profesional*/
        
        
        div.experience__box{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .experience__img{
            width: 330px;
            height: 150px;
        } 
        
        h2.experience__title{
            font-size: 18px;
            text-align: center;
            margin-bottom: 1px;
        }

        h3.experience__text{
            font-size: 18px;
            text-align: center;
            margin-bottom: 5px;
        }
        
        .about__paragraph_experience{
            font-size: 16   px;
        }
        
        div.experience__description{
            align-self: center;
            padding: 20px 1px;
        }
        
         /*Contacto*/
         section.formcontato{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 5px;
            
        }
        
        div.formcontato__text{
            font-size: 12px;
        }
        
        .formcontato__img{
            width: 300px;
            height: auto;
            margin-top: 15px;
        }
  
}